# sqmysql57

[mysql.server]
service-startup-timeout               = 7200
oom-protect

[client]
port                                  = 3306
socket                                = /var/lib/mysql/mysql.sock

[mysqld_safe]
log-error                             = /data/mysql/error.log

[mysqld]
init_file                             = /etc/my_sq_init.sql
#plugin_load                           = rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so;query_response_time_audit=query_response_time.so;query_response_time=query_response_time.so;query_response_time_read=query_response_time.so;query_response_time_write=query_response_time.so;square_host_info=square_host_info.so;square_ips=square_ips.so
ssl                                   = true
ssl-cert                              = /data/etc/mysql/ssl.crt
ssl-key                               = /data/etc/mysql/ssl.key
ssl-ca                                = /data/app/mysql/secrets/service2service.multienv.ca.pem
ssl-cipher                            = ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA384:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:DHE-DSS-AES256-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-SHA384:AES128-SHA:AES256-SHA:DHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-AES256-SHA
require_secure_transport              = ON
tls_version                           = TLSv1.1,TLSv1.2
local_infile                          = 0
default-time-zone                     = '+0:00'
character-set-server                  = utf8mb4
init-connect                          = SET NAMES utf8mb4
datadir                               = /data/mysql
tmpdir                                = /data/tmp
table_open_cache                      = 2048
group-concat-max-len                  = 1024
thread_cache_size                     = 2048
table_definition_cache                = 2048
collation-server                      = utf8mb4_general_ci
max_connections                       = 4096
port                                  = 3306
socket                                = /var/lib/mysql/mysql.sock
max_allowed_packet                    = 512M
sort_buffer_size                      = 1M
back_log                              = 500
tmp_table_size                        = 256M
max_heap_table_size                   = 256M
#userstat                              = 1
innodb_checksum_algorithm             = crc32
explicit_defaults_for_timestamp       = 0
avoid_temporal_upgrade                = 1
sql_mode                              = ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY,STRICT_ALL_TABLES,STRICT_TRANS_TABLES
max_seeks_for_key                     = 1000
eq_range_index_dive_limit             = 200
max_prepared_stmt_count               = 49146
secure_file_priv                      = /data/tmp
eq_range_index_dive_limit             = 200

skip-character-set-client-handshake
skip-name-resolve

# Slow Query Logging
slow_query_log_file                   = /data/mysql/slow-query.log
log_output                            = FILE
long_query_time                       = 0
slow_query_log

# Replication
server-id                             = 167841290
log-bin                               = mysql-bin
relay_log                             = relay-bin
report_host                           = test001 
report_port                           = 3306
report_user                           = repl
binlog_format                         = ROW
slave_compressed_protocol             = OFF
binlog_row_image                      = FULL
sync-binlog                           = 1
expire_logs_days                      = 2
log-bin-trust-function-creators       = 0
log-slave-updates
read_only                             = true
#max_binlog_files                      = 500
binlog_cache_size                     = 1M
slave_transaction_retries             = 1000
binlog_checksum                       = CRC32
!include /data/mysql/filter.cnf

# Crash Safe Replication
relay_log_purge
binlog_error_action                   = ABORT_SERVER
relay_log_info_repository             = TABLE
master_info_repository                = TABLE
relay_log_recovery                    = ON
sync_relay_log                        = 0
sync_relay_log_info                   = 0
sync_master_info                      = 0

# GTID
gtid_mode                             = ON
enforce_gtid_consistency              = ON

# PERFORMANCE_SCHEMA
performance_schema=OFF

# InnoDB
innodb_file_per_table
innodb_buffer_pool_load_at_startup    = 0
innodb_buffer_pool_size               = 1G
innodb_buffer_pool_instances          = 64
innodb_log_file_size                  = 512M
innodb_log_buffer_size                = 32M
innodb_flush_log_at_trx_commit        = 1
innodb_flush_method                   = O_DIRECT
innodb_lock_wait_timeout              = 50
innodb_thread_concurrency             = 0
innodb_numa_interleave                = ON
innodb_stats_on_metadata              = 0
innodb_file_format                    = Barracuda
innodb_large_prefix                   = 1
innodb_purge_threads                  = 4
innodb_max_dirty_pages_pct            = 60
innodb_adaptive_hash_index_parts      = 8
innodb_fast_shutdown                  = 0
innodb_lru_scan_depth                 = 2048
innodb_strict_mode                    = 1
innodb_stats_transient_sample_pages   = 8
innodb_autoinc_lock_mode              = 1
transaction_isolation                 = REPEATABLE-READ

# SSD Enabled
innodb_log_write_ahead_size           = 4096
innodb_flush_neighbors                = 0
innodb_write_io_threads               = 16
innodb_read_io_threads                = 16
innodb_io_capacity                    = 5000

# MyISAM
key_buffer_size                       = 32M
myisam_sort_buffer_size               = 8M

# Query Cache
query_cache_type                      = 0
query_cache_size                      = 0

# Semi-Sync Replication

[mysqldump]
max_allowed_packet                    = 16M
quick
routines                              = 1
triggers                              = 1
events                                = 1

[mysql]
default-character-set                 = utf8mb4
#prompt                                = '(\u@\h) [\d]> '
no-auto-rehash

[myisamchk]
key_buffer_size                       = 20M
sort_buffer_size                      = 20M
read_buffer                           = 2M
write_buffer                          = 2M

[mysqlhotcopy]
interactive-timeout
quick
